In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
# Loading the dataset
path = "../raw_data/bookings_whithout_onepark.xlsx"
data = pd.read_excel(path)

In [4]:
data

,id,pocket,product,status,option,guest_id,booking_fees,amount,total_amount,discount,creation_date_hour,beginning_date_hour,begining_slice,end_date_hour,max_date_hour,cxl_date_hour,los,lead_time_hours,entry_date_hour,exit_date_hour,promo_code,amount_promo
0,5144307,0000000036,H10,finished,standard,DCL0300508,1.0,58.2,59.20,0.00,2019-01-01 09:11:01.000,2019-02-07 15:00:00.000,15H à 18H,2019-02-10 19:44:59.999,NaT,NaT,+24h,893.816389,NaT,NaT,NaN,NaN
1,5144312,0000000781,H10,finished,standard,DCL0266680,3.0,29.5,32.50,0.00,2019-01-01 09:32:29.000,2019-01-08 07:30:00.000,6H à 9H,2019-01-10 21:30:00.000,NaT,NaT,+24h,165.958611,NaT,NaT,NaN,NaN
2,5144315,0000000491,H10,finished,standard,DCL0286500,3.5,28.8,23.04,9.26,2019-01-01 09:45:16.999,2019-01-02 06:30:00.000,6H à 9H,2019-01-04 21:45:00.000,NaT,NaT,+24h,20.745278,NaT,NaT,VOYAGEURVACANCES,9.26
3,5144319,0000600287,H10,finished,standard,DCL0254021,4.0,40.0,44.00,0.00,2019-01-01 09:58:58.999,2019-01-31 05:45:00.000,0H à 6H,2019-02-02 17:45:00.000,NaT,NaT,+24h,715.766944,NaT,NaT,NaN,NaN
4,5144320,0000600287,H10,canceled,standard,DCL0271067,4.0,56.0,60.00,0.00,2019-01-01 09:59:13.000,2019-01-17 12:30:00.000,12H à 15H,2019-01-20 15:59:59.999,NaT,2019-01-11 18:26:00,+24h,386.513056,NaT,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536169,10276847,0000500287,F397,completed,standard,DCL0129618,0.0,46.5,46.50,0.00,2023-06-18 23:17:23.999,2023-06-23 07:44:59.999,6H à 9H,2023-06-26 17:15:00.000,2023-06-27 07:44:59.999,NaT,+24h,104.460000,NaT,NaT,NaN,NaN
536170,10276859,0000000781,F398,completed,standard,DCL0779147,0.0,46.0,46.00,0.00,2023-06-18 23:22:06.000,2023-07-04 05:29:59.999,0H à 6H,2023-07-10 05:29:59.999,2023-07-11 05:29:59.999,NaT,+24h,366.131667,NaT,NaT,NaN,NaN
536171,10276871,0000000206,F397,completed,standard,DCL0524194,0.0,29.9,29.90,0.00,2023-06-18 23:30:14.000,2023-06-23 15:59:59.999,15H à 18H,2023-06-25 23:29:59.999,2023-06-26 11:59:00.000,NaT,+24h,112.496111,NaT,NaT,NaN,NaN
536172,10276885,0000000206,H10,completed,standard,DCL0311148,0.0,56.9,56.90,0.00,2023-06-18 23:36:58.000,2023-06-19 14:45:00.000,12H à 15H,2023-06-21 22:44:59.999,2023-06-22 02:45:00.000,NaT,+24h,15.133889,NaT,NaT,NaN,NaN
536173,10276914,0000000036,F150,completed,standard,DCL0669147,0.0,5.0,5.00,0.00,2023-06-18 23:59:54.000,2023-06-19 18:30:00.000,18H à 24H,2023-06-19 23:29:59.999,2023-06-20 00:00:00.000,NaT,00:30 06:00,18.501667,NaT,NaT,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536174 entries, 0 to 536173
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   536174 non-null  int64
 1   pocket               536174 non-null  object
 2   product              536174 non-null  object
 3   status               536174 non-null  object
 4   option               536174 non-null  object
 5   guest_id             526071 non-null  object
 6   booking_fees         536174 non-null  float64
 7   amount               536174 non-null  float64
 8   total_amount         536174 non-null  float64
 9   discount             536174 non-null  float64
 10  creation_date_hour   536174 non-null  datetime64[ns]
 11  beginning_date_hour  536174 non-null  datetime64[ns]
 12  begining_slice       536174 non-null  object
 13  end_date_hour        536174 non-null  datetime64[ns]
 14  max_date_hour        271064 non-null  datetime64[ns]
 15  cxl_date_hour        46388 non-null   datetime64[ns]
 16  los                  536174 non-null  object
 17  lead_time_hours      536174 non-null  float64
 18  entry_date_hour      132 non-null     datetime64[ns]
 19  exit_date_hour       132 non-null     datetime64[ns]
 20  promo_code           54225 non-null   object
 21  amount_promo         54228 non-null   float64
dtypes: datetime64[ns](7), float64(6), int64(1), object(8)
memory usage: 90.0+ MB

In [6]:
# Dropping almost empty columns
data = data.drop(columns = ['entry_date_hour', 'exit_date_hour'])

In [16]:
data['product'].value_counts()

H10     312958
F397     73863
F398     49755
F44      40852
F98      35826
F63       4953
F60       4927
F109      2997
F132      1600
F139      1113
F400       979
F414       968
F150       681
F54        633
F67        496
F343       451
F138       422
F7         378
F33        233
F319       230
F70        106
F100        77
F110        33
F227        20
F137        20
F58         18
F5           1
F215         1
Name: product, dtype: int64

In [41]:
# Leaving only rows where product is H10, F397, F398, F44, F98, F60, F63
product_names = ['H10', 'F397', 'F398', 'F44', 'F98', 'F60', 'F63']
data = data[data['product'].isin(product_names)]

In [42]:
data['status'].value_counts()

finished     467980
canceled      45374
completed      9780
Name: status, dtype: int64

In [ ]:
#whats the difference between finished and completed?

In [43]:
data['option'].value_counts()

standard      481573
premium        41534
electrique        27
Name: option, dtype: int64

In [ ]:
# Dropping columns whith option electrique
data['option']

In [80]:
data.isnull().sum().sort_values(ascending=False)/len(data)

promo_name             0.916145
promo_amount           0.916141
cxl_date_hour          0.900013
max_date_hour          0.522239
guest_id               0.193051
product                0.177487
option                 0.176552
beginning_date_hour    0.000000
lead_time_hours        0.000000
los                    0.000000
end_date_hour          0.000000
begining_slice         0.000000
id                     0.000000
creation_date_hour     0.000000
seller                 0.000000
total_amount           0.000000
amount                 0.000000
booking_fees           0.000000
status                 0.000000
pocket                 0.000000
discount               0.000000
dtype: float64

In [99]:
#pd.set_option("display.max_rows", None)
data['promo_code'].value_counts()

YW20PARISGAREDUNORD    5742
VOYAGEURSEMAINE        5350
YW30MARSEILLEP1        4601
OPFRAISDERESA0STD      3458
ETE2019                3093
                       ...
LOCATELLI30               1
ODYSSEA19                 1
EXCUSES2                  1
JEP19                     1
VYV2JOURS                 1
Name: promo_code, Length: 96, dtype: int64

In [ ]:
#What do we one hot encode: pockets(39 col), promos(88), product(28)

In [51]:
data['los'].value_counts()

+24h           437701
06:00 24:00     77479
00:30 06:00      7700
00:00 00:30       254
Name: los, dtype: int64

In [52]:
pd.set_option('display.max_rows', 10)

In [53]:
data

,id,pocket,product,status,option,guest_id,booking_fees,amount,total_amount,discount,creation_date_hour,beginning_date_hour,begining_slice,end_date_hour,max_date_hour,cxl_date_hour,los,lead_time_hours,promo_code,amount_promo
0,5144307,0000000036,H10,finished,standard,DCL0300508,1.0,58.2,59.20,0.00,2019-01-01 09:11:01.000,2019-02-07 15:00:00.000,15H à 18H,2019-02-10 19:44:59.999,NaT,NaT,+24h,893.816389,NaN,NaN
1,5144312,0000000781,H10,finished,standard,DCL0266680,3.0,29.5,32.50,0.00,2019-01-01 09:32:29.000,2019-01-08 07:30:00.000,6H à 9H,2019-01-10 21:30:00.000,NaT,NaT,+24h,165.958611,NaN,NaN
2,5144315,0000000491,H10,finished,standard,DCL0286500,3.5,28.8,23.04,9.26,2019-01-01 09:45:16.999,2019-01-02 06:30:00.000,6H à 9H,2019-01-04 21:45:00.000,NaT,NaT,+24h,20.745278,VOYAGEURVACANCES,9.26
3,5144319,0000600287,H10,finished,standard,DCL0254021,4.0,40.0,44.00,0.00,2019-01-01 09:58:58.999,2019-01-31 05:45:00.000,0H à 6H,2019-02-02 17:45:00.000,NaT,NaT,+24h,715.766944,NaN,NaN
4,5144320,0000600287,H10,canceled,standard,DCL0271067,4.0,56.0,60.00,0.00,2019-01-01 09:59:13.000,2019-01-17 12:30:00.000,12H à 15H,2019-01-20 15:59:59.999,NaT,2019-01-11 18:26:00,+24h,386.513056,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536168,10276844,0000200287,H10,completed,standard,DCL0887578,0.0,11.7,11.70,0.00,2023-06-18 23:16:31.000,2023-06-19 15:30:00.000,15H à 18H,2023-06-19 20:00:00.000,2023-06-19 20:00:00.000,NaT,00:30 06:00,16.224722,NaN,NaN
536169,10276847,0000500287,F397,completed,standard,DCL0129618,0.0,46.5,46.50,0.00,2023-06-18 23:17:23.999,2023-06-23 07:44:59.999,6H à 9H,2023-06-26 17:15:00.000,2023-06-27 07:44:59.999,NaT,+24h,104.460000,NaN,NaN
536170,10276859,0000000781,F398,completed,standard,DCL0779147,0.0,46.0,46.00,0.00,2023-06-18 23:22:06.000,2023-07-04 05:29:59.999,0H à 6H,2023-07-10 05:29:59.999,2023-07-11 05:29:59.999,NaT,+24h,366.131667,NaN,NaN
536171,10276871,0000000206,F397,completed,standard,DCL0524194,0.0,29.9,29.90,0.00,2023-06-18 23:30:14.000,2023-06-23 15:59:59.999,15H à 18H,2023-06-25 23:29:59.999,2023-06-26 11:59:00.000,NaT,+24h,112.496111,NaN,NaN
536172,10276885,0000000206,H10,completed,standard,DCL0311148,0.0,56.9,56.90,0.00,2023-06-18 23:36:58.000,2023-06-19 14:45:00.000,12H à 15H,2023-06-21 22:44:59.999,2023-06-22 02:45:00.000,NaT,+24h,15.133889,NaN,NaN

In [113]:
def clean_data(data):
    '''
    Returns cleaned dataframe
    '''
    # Dropping almost empty columns and guest_id
    data = data.drop(columns = ['entry_date_hour', 'exit_date_hour', 'guest_id'])
    
    # Leaving only popular products [H10, F397, F398, F44, F98, F60, F63]
    product_names = ['H10', 'F397', 'F398', 'F44', 'F98', 'F60', 'F63']
    data = data[data['product'].isin(product_names)]
    
    # Leaving 4 chosen pockets 
    pockets_names = ['0000000095', '0000100368', '0000000052', '0000100435']
    data = data[data['pocket'].isin(pockets_names)]
    
    # Dropping columns whith option electrique
    data = data[data['option']!='electrique']
    
    #Leaving only the 5 most popular promo codes (leaves empty string if there is no promo code)
    data['promo_code'] = data['promo_code'].fillna('')
    promo_codes = ['VOYAGEURSEMAINE', 'OPFRAISDERESA0PREM', 'ETE2019', 'ETE2021AUTO',
       'VOYAGEURWE', '']
    data = data[data['promo_code'].isin(promo_codes)]
    
    
    return data

In [114]:
cleaned_data = clean_data(pd.read_excel(path))

In [115]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64168 entries, 5 to 536155
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   64168 non-null  int64
 1   pocket               64168 non-null  object
 2   product              64168 non-null  object
 3   status               64168 non-null  object
 4   option               64168 non-null  object
 5   booking_fees         64168 non-null  float64
 6   amount               64168 non-null  float64
 7   total_amount         64168 non-null  float64
 8   discount             64168 non-null  float64
 9   creation_date_hour   64168 non-null  datetime64[ns]
 10  beginning_date_hour  64168 non-null  datetime64[ns]
 11  begining_slice       64168 non-null  object
 12  end_date_hour        64168 non-null  datetime64[ns]
 13  max_date_hour        30535 non-null  datetime64[ns]
 14  cxl_date_hour        4999 non-null   datetime64[ns]
 15  los                  64168 non-null  object
 16  lead_time_hours      64168 non-null  float64
 17  promo_code           64168 non-null  object
 18  amount_promo         2843 non-null   float64
dtypes: datetime64[ns](5), float64(6), int64(1), object(7)
memory usage: 9.8+ MB

In [83]:
cleaned_data['promo_code'].value_counts()

Index(['VOYAGEURSEMAINE', 'OPFRAISDERESA0PREM', 'ETE2019', 'ETE2021AUTO',
       'VOYAGEURWE'],
      dtype='object')

In [63]:
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [ ]:
# Preprocessor
num_transformer = make_pipeline(SimpleImputer(), StandardScaler())
cat_transformer = OneHotEncoder()

preproc = make_column_transformer(
    (num_transformer, make_column_selector(dtype_include=['float64'])),
    (cat_transformer, make_column_selector(dtype_include=['object','bool'])),
    remainder='passthrough'
)